@font-face {
    font-family: "Machineat_Demo.ttf";
    src: url("../css/Machineat_Demo.ttf");
}

@font-face {
    font-family: "NotoSerifKR-Bold";
    src: url("../css/NotoSerifKR-Bold.otf");
}

body{
    font-family: "Machineat_Demo.ttf";
    background-color: white;
    margin: 0;
    padding: 0;
}
header{
    height:100px;
    font-family: "NotoSerifKR-Bold";
}
.l1{
    position: absolute;
    right: 47%;
    width: 200px;
    top: 0;
    margin-top: 0;
}
.logout{
    position: absolute;
    right: 10px;
}
.logout1{
    position: absolute;
    right: 120px;
}
header table td{
    padding:35px 30px;
}
header table td a{
    text-decoration: none;
    font-size: larger;
    color: black;
}

main{
    background-color: white;
    height: 800px;
    background-size: cover;
}

.bean{
    width: 100%;
    height: 25%;
    background-image: url("../image/pages/mainPage.jpg");
    margin-top: 1.8%;
    margin-bottom: 3%;
    text-align: center;
    color: white;
}

.public{
    width: 100%;
    height: 25%;
    background-image: url("../image/pages/login.jpg");
    margin-bottom: 3%;
    text-align: center;

}

.pro{
    width: 100%;
    height: 25%;
    background-image: url("../image/pages/signup.jpg");
    text-align: center;
}