body{
    font-family: "Machineat_Demo.ttf";
    background-color: black;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "NotoSerifKR-Bold";
    src: url("../css/NotoSerifKR-Bold.otf");
}

header {
    height:100px;
    background-color: white;
    font-family: "NotoSerifKR-Bold";
}

.l1 {
    position: absolute;
    right: 47%;
    width: 200px;
    top: 0;
    margin-top: 0;
}

.logout {
    position: absolute;
    right: 10px;
}

.logout1 {
    position: absolute;
    right: 120px;
}

header table td {
    padding: 35px 30px;
}

header table td a {
    text-decoration: none;
    font-size: larger;
    color: black;
}

main {
    font-family: "NotoSerifKR-Bold";
    background: black;
    color: white;
    height: 700px;
    /* background-image: url("./cafe_register.jpg"); */
    background-size: 100%;
    background-position: center;
}

td{
    align-items: center;
}


.inputA {
    text-align: center;
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.inputB {
    text-align: center;
    width: 96px;
    height:30px;
    margin: 8px 0;
    padding-bottom: 3.0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.inputC {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


footer {
color: white;
}