body {
    margin: 0;
    padding: 0;
    background-color: white;
}

@font-face {
    font-family: "NotoSerifKR-Bold";
    src: url("../css/NotoSerifKR-Bold.otf");
}

header {
    height: 00px;
}

main {
    padding-top: 100px;
    font-family: "NotoSerifKR-Bold";
    background: black;
    color: white;
    height: 700px;
    background-image: url("../image/pages/signup.jpg");
    /* 사이즈 축소는 의도적으로 해놈 */
    background-size: 70%;
    background-position: left;
}

table{
    width: 100%;
}
td{
    align-items: center;
}


.inputA {
    width: 300px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}

.inputB {
    width: 96px;
    height:42px;
    margin: 8px 0;
    padding-bottom: 3.0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; 
}


footer {
color: white;
}