html{
	scroll-behavior: smooth;
    color: white;
    background: white;
}

@font-face {
    font-family: "NotoSerifKR-Bold";
    src: url("../css/NotoSerifKR-Bold.otf");
}

input[type=radio],input[type=radio]:checked {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 100%;
}

input[type=radio]{
    background-color: white;
    border: 0.5px solid black;
  
}
input[type=radio]:checked {
    background-color: white;
    content: '✔';
    border: 17px double rgb(250, 47, 47);
    border-width: 10px;
    
    
}

body{
    /* background-color: black; */
    background-position: center;
    font-family: "NotoSerifKR-Bold";
    background-image: url("/public/image/selectFlavor2.jpg");

    margin: 0px;
    padding: 0px;
}
header{
    height: 0px;
}
main{
    width: 100%;
}

.select{
    background-image: url("/public/image/selectFlavor1.jpg");
    background-size: 120%;

    width: 100%;
    height: 800px;

    background-position: top;
    text-align: center;
    width: 100%;
}
.leftside{
    width: 50%;
    font-size: larger;
    text-align: center;
}
.explaingSite{
    height: 100%;
}
.rightside{
    width: 50%;
    padding-top: 1%;
}

.font_ex{
    font-size: larger;
    text-align: center;
}

footer{
    height: 625px;
    width: 90%;
    margin-left:5%;
    
}
#emptyBox1{
    background-color: white;
    height: 100px;
}
#emptyBox2{
    
    background-color: white;
    height: 100px;
}
.brand{
    height:600px;
    /* background-color: #fff0db; */
    display: block;
}


.brand td{
    text-align: center;
    align-items: center;
    height: 280px;
    width: 600px;
    border: 1px solid black;
}

.line{
    width:100px;
}

.brandFlavor{
    border: 1px solid black;
    margin: 0px;
    padding: 0;
    width: 50%;
    height: 60%;
    float: left;
}

.brandLogo{
    border: 1px solid black;
    height: 60%;
    width: 49%;
    float: left;
}

.brandExplain{
    text-align: center;
    float: left;
    height: 40%;
}


